# Core dependencies
openai
python-dotenv

# Database
psycopg2-binary
sqlalchemy>=2.0.0
alembic

# NextJS generation
jinja2>=3.0.0
pyyaml>=6.0.1

# Docker related
docker>=6.1.2

# Local swarm package
-e .. 